<?xml version="1.0" encoding="UTF-8"?>
<mapper namespace="com.legend.mapper.UserMapper">

    <!--sql的唯一标识：namespace.id来组成 statementId-->
    <select id="selectList" resultType="com.legend.entity.User">
        select * from user
    </select>

    <!--
        User user = new User();
        user.setId(1);
        user.setUseName("legend");
    -->
    <select id="selectOne" resultType="com.legend.entity.User" paramterType="com.legend.entity.User">
        select * from user where id = #{id} and username = #{username}
    </select>
</mapper>